<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        style詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @style, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @style.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>スタイル</th>
                </tr>
                <tr>
                  <td><%= simple_format @style.body %></td>
                </tr>
              </table>
              <% if @style.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_style_path(@style), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            from <%= @style.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @style.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@style.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @style.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>

  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@style, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      </div>
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>